body{
    display: flex;
    flex-direction: column;
    justify-content: spase-around;
    align-items: center;
}
.thumbnails-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height:  width 25vh; 
    overflow-y: auto;
}
.thumbnails-image {
    width: 20vw;
    height: 15vw;
}